/* global.css: Basic styles for the entire site */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #b93790;
}
h1 {
  color: #ffffff;
  text-align: center;
  font-size: 45px;
}
h2 {
  margin-top: -2%;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}
section a {
  margin: 0 10px;
  color: rgb(255, 255, 255);
  line-height: 2;
}

@media only screen and (min-width: 200px) and (max-width: 1700px) {
  .container {
    text-align: center;
  }
}
